body {
	background: url("img/Test4v2.png") no-repeat;
	background-attachment: fixed;
	object-fit: cover;
	background-size: cover;
}
.space{
	width: 100%;
	height: 20px;
}
h1 {
  color: #ff1800;
  text-align: center;
  font-family: Fantasy, Copperplate;
  font-size: 50px;
}
p.a {
	text-align: left;
	font-size: 34px;
	padding: 14px 16px;
	text-decoration: none;
	color: #ff1800;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-color: #1e1e1e;	
	font-family: Fantasy, Copperplate;
}
p.b {
	font-size: 20px;
	color: #ff1800;
  font-family: Fantasy, Copperplate;
}
h3 {
  	text-align: center;
  	font-size: 18px;
	color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ulnavi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  
}
.navi {
  	float:right;
	color: white;
}
li {	
	float:none;
	color: white;	
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.bigger { 
	font-size:160%; 
}
h2 {
color: 	#ff1800;	
}
/* footer */

footer{
    background-color: #161616;
    padding-top: 150px;
    padding-bottom: 30px;
}

.footer-top{
    margin-bottom: 30px;
}

footer p{
    color: rgba(238, 232, 232, 0.75);
}

footer .social-links a{
    font-weight: normal;
    font-size: 24px;
    margin-left: 10px;
}

.footer-bottom{

    padding-top: 30px;
    border-top: 1px solid #1e1e1e;
}
a:hover {
	color: #ff1800;
}
.footer-contacts {
  color: #ff1800;
}