body {
	background: url("img/Test4v2.png") no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h1 {
  color: #ff1800;
  text-align: center;
  font-family: Fantasy, Copperplate;
  font-size: 50px;
}
p.a {
	text-align: left;
	font-size: 34px;
	padding: 14px 16px;
	text-decoration: none;
	color: #ff1800;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-color: #292929;
	font-family: Fantasy, Copperplate;
}
p.b {
	font-size: 20px;
	color: white;
}
h3 {
  	text-align: center;
  	font-size: 18px;
	color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ulnavi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292929;
}
.navi {
  	float:right;
	color: white;
}
li {	
	float:none;
	color: white;	
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.bigger { 
	font-size:160%; 
}
h2 {
color: 	#ff1800;	
}
a:hover {
	color: #ff1800;
}